<link rel="stylesheet" type="text/css" media="screen" href="../css/about.css" />
<div class="content">
    <div class="about-title">
        <h1>ABOUT</h1>
    </div>
    <div class="about-detail">
        <p>IVORYFREE serves as a starting point for research and a platform where it gives basic understanding of ivory trade and poaching and gathers published articles and datasets surrounding the subject of ivory trade.</p>
        <p>We are here to raise awareness and provide as much resources as possible for people who care or starting to care.</p>
        <p>Tens of thousands of elephants are being killed across Africa each year for their tusks. A century ago, there were maybe 5 million elephants across Africa. Now there are less than 500,000.</p>
        <p>What can we do?</p>
        <p>By landing on this page, you have already done something!</p>
        <p>Let’s spread the words, and go to the actions page to find out what more you can do!</p>
    </div>
</div>