<link rel="stylesheet" type="text/css" media="screen" href="../css/action.css" />
<div class="nav-holder"></div>
<div class="content">
    <div class="action-title">
        <h3>sign petition</h3>
    </div>
    <div class="action-detail">
        <a href="">Ivory trade petition through BornFree</a>
        <a href="">Ban elephant ivory and tusks from being imported into the U.S</a>
        <a href="">Trump faces massive petition demanding U.S elephant trophy hunting import ban</a>
        <a href="">More…</a>
    </div>
    <div class="action-title">
        <h3>volunteer</h3>
    </div>
    <div class="action-detail">
        <a href="">Wildlife conservation in Southern Namibia with Oana Flora & Fauna</a>
        <a href="">Wildlife Research and Conservation with GoEco</a>
        <a href="">Desert Elephant Conservation with Frontier </a>
        <a href="">More…</a>
    </div>
    <div class="action-title">
        <h3>fundraising</h3>
    </div>
    <div class="action-detail">
        <a href="">Send thanks to rangers who are the first line of protecting wildlife</a>
        <a href="">Rock ‘n’ Roll marathon series</a>
        <a href="">Safaricom Marathon</a>
        <a href="">More…</a>
    </div>
    <div class="action-title">
        <h3>Donation</h3>
    </div>
    <div class="action-detail">
        <p>Give support to campaigns and organizations who gather the power among us to protect endangered wildlife.</p>
        <div class="org-categories">
                <div class="org-block">
                    <h4>Global NGOs</h4>
                    <a href="">World Wide Fund for Nature (WWF)</a>
                    <a href="">International Union for Conservation of Nature (IUCN)</a>
                    <a href="">Convention on the International Trade in Endangered Species of Wild Fauna and Flora (CITES)</a>
                </div>
                <div class="org-block">
                    <h4>International</h4>
                    <a href="">A Rocha India</a>
                    <a href="">Burn the Ivory</a>
                    <a href="">International Anti-Poaching Foundation</a>
                    <a href="">Stop Ivory</a>
                </div>
                <div class="org-block">
                    <h4>In Asia</h4>
                    <a href="">Bring the Elephant Home</a>
                    <a href="">ElefantAsia</a>
                    <a href="">Wildlife Trust of India</a>
                    <a href="">Save Elephant Foundation</a>
                    <a href="">Surin Project</a>
                </div>
                <div class="org-block">
                    <h4>In Africa</h4>
                    <a href="">Tusk</a>
                    <a href="">Big Life Foundation</a>
                    <a href="">ElephantVoices</a>
                    <a href="">African Conservation Foundation</a>
                    <a href="">Save the Elephants</a>
                </div>
            </div>
    </div>

</div>