<link rel="stylesheet" type="text/css" media="screen" href="../css/info.css" />
<div class="nav-holder"></div>
<div class="content">
    <h1 class="info-title">IVORY TRADE</h1>
    <div class="info-what">
        <h3>what?</h3>
    </div>
    <div class="info-what-detail">
        <p>So what is ivory trade? Ivory trade is the commercial, often illegal trade in the ivory tusks of the hippopotamus,
            walrus, but most commonly, African and Asian elephants.</p>
        <p>Poachers were largely responsible for the decimation of the African elephant species; indeed, in the 1980s alone
            poachers virtually halved the African elephant population. As a result, the Convention on International Trade
            in Endangered Species (CITES) in 1990 banned the trade of ivory altogether. </p>
        <p>The national and international trade in ivory of threatened species such as African and Asian elephants is illegal.</p>
        <p>All international commercial trade in African elephant ivory was effectively banned in 1989 when the species was
            transferred from CITES Appendix II to Appendix I. Listing in Appendix I effectively bans all international commercial
            trade in a species and its products, including ivory.</p>
    </div>
    <div class="info-graph1-detail">
        <h3>Poached elephants</h3>
        <p>The percentages are the number of illegally killed elephants found divided by the total number of elephant carcasses
            encountered by patrols or other means.</p>
        <p>The graph shows the proportion illegal killed elephants trend in Africa with 90% confidence intervals, based on 15,942
            elephant carcasses (illegally killed or otherwise) reported to MIKE for the period 2003-2016.</p>
    </div>
    <div class="info-graph1-container">
        <img src="../image/graph.png" alt="graph-1">
    </div>
    <div class="info-why">
        <h3>why?</h3>
    </div>
    <div class="info-why-detail">
        <p>Why do people want ivory? Why does ivory trade exit?</p>
        <p>In most cases, ivory is traded as religious or decorative objects, musical instruments like piano keys, and billiard
            balls. Tusk and tooth ivory offers excellent versatility for carving. Tusks can easily be retained in original
            shape. They can also be carved superficially. Ivory is often used in many different kinds of inlay work, carved
            boxes, figurines, and jewelry and serviette holders.</p>
        <p>There are many collectors and common people who appreciate ivory objects from around the world. The term ‘Ivory’
            has always signified images of some beautiful objects related to fine craftsmanship, luxury, style, exclusivity
            and value. Most people do not realize, but the human race’s connection with ivory objects is ancient.</p>
    </div>
    <div class="info-where">
        <h3>where?</h3>
    </div>
    <div class="info-where-detail">
        <p>Where are the ivory sources and where do they sell it to? Elephants are the most common source of ivory. Elephants
            live on the plains of Africa or in the jungles of Asia, and people in these areas were once free to trade ivory
            to places where it did not originate.</p>
        <p>Eastern Africa became the hub of the raw ivory, and being transported to some Asia countries to carve and made into
            products, then exported the finished goods to the major consumers.</p>
    </div>
    <div class="info-graph2-container">
        <img src="../image/map1.png" alt="map1">
    </div>
    <div class="info-graph3-container">
        <img src="../image/map3.png" alt="map3">
    </div>
    <div class="info-when">
        <h3>when?</h3>
        <p>When did ivory trade started? During the Pleistocene era, the Cro-Magnons used ivory for carving. This was around
            10,000 to 40,000 years ago. Around 2,000 B.C, ivory objects were also used by the Egyptians. Between the 12th–14th
            centuries, ivory was used by the Europeans. </p>
        <p>Elephant ivory has been exported from Africa and Asia for centuries with records going back to the 14th century BCE.
            Throughout the colonization of Africa ivory was removed, often using slaves to carry the tusks, to be used for
            piano keys, billiard balls and other expressions of exotic wealth.</p>
        <p>The demands for ivories has always exited.</p>
        <p>When do people starts to care?</p>
        <p>World wars and the subsequent economic depressions caused a lull in this luxury commodity that started to put the
            forest elephants of Africa and Asia endanger. During 1970s, the demands for ivory have dramatically increased
            and the elephant population have also decreased; therefore, an organization called CITES was formed and try to
            stop and eliminate ivory trade.</p>
        <p>In the ten years preceding a decision in 1989 by CITES to ban international trade in African elephant ivory, the
            population of African elephants declined from 1,300,000 to around 600,000.</p>
    </div>
    <div class="info-when-img">
        <img src="../image/timeline1.png" alt="timeline1">
    </div>
</div>