<nav>
    <div class="logo">
        <a href="">
            <img src="../image/icon.png" alt="icon">
        </a>
        <!-- <p>IVORYFREE</p> -->
    </div>
    <div class="nav-container">
        <div class="nav-button"><p class="nav-p"><a href="#about">ABOUT</a></p></div>
        <div class="nav-button"><p class="nav-p"><a href="#info">INFO</a></p></div>
        <div class="nav-button"><p class="nav-p"><a href="#org">ORGANIZATIONS</a></p></div>
        <div class="nav-button"><p class="nav-p"><a href="#article">ARTICLES</a></p></div>
        <div class="nav-button"><p class="nav-p"><a href="#action">ACTIONS</a></p></div>
    </div>
</nav>