<link rel="stylesheet" type="text/css" media="screen" href="../css/org.css" />
<div class="nav-holder"></div>
<div class="content">
    <div class="org-title">
        <h3>ORGANIZATIONS</h3>
    </div>
    <div class="org-detail">
        <p>Many organizations work together on solving and bring awareness around the world, and they share different information and details with each other. Together, they are helping us to resolve and protect our wildlife animals. </p>
        <p>These organizations created media portals to help us learn more and share the current situations. Some of them are conversation organization in Africa and Asia, and some of them are international and global non-governmental organizations. </p>
        <div class="org-categories">
            <div class="org-block">
                <h4>Global NGOs</h4>
                <a target="_blank" rel="noopener noreferrer" href="https://www.worldwildlife.org/">World Wide Fund for Nature (WWF)</a>
                <a target="_blank" href="https://www.iucn.org/">International Union for Conservation of Nature (IUCN)</a>
                <a target="_blank" href="https://www.cites.org/">Convention on the International Trade in Endangered Species of Wild Fauna and Flora (CITES)</a>
            </div>
            <div class="org-block">
                <h4>International</h4>
                <a target="_blank" href="www.arocha.in/">A Rocha India</a>
                <a target="_blank" href="burntheivory.org/">Burn the Ivory</a>
                <a target="_blank" href="https://www.iapf.org/">International Anti-Poaching Foundation</a>
                <a target="_blank" href="stopivory.org/">Stop Ivory</a>
            </div>
            <div class="org-block">
                <h4>In Asia</h4>
                <a target="_blank" href="https://bring-the-elephant-home.nl/">Bring the Elephant Home</a>
                <a target="_blank" href="www.elefantasia.org/">ElefantAsia</a>
                <a target="_blank" href="https://www.wti.org.in/">Wildlife Trust of India</a>
                <a target="_blank" href="https://www.saveelephant.org/">Save Elephant Foundation</a>
                <a target="_blank" href="https://surinproject.org/">Surin Project</a>
            </div>
            <div class="org-block">
                <h4>In Africa</h4>
                <a target="_blank" href="https://www.tusk.org/">Tusk</a>
                <a target="_blank" href="https://biglife.org/">Big Life Foundation</a>
                <a target="_blank" href="https://elephantvoices.org/">ElephantVoices</a>
                <a target="_blank" href="https://africanconservation.org/">African Conservation Foundation</a>
                <a target="_blank" href="https://www.savetheelephants.org/">Save the Elephants</a>
            </div>
        </div>
    </div>
</div>